@media only screen and (max-width: 790px) {
    .timeline-img1 {
        margin-top: -20%;
    }

    .timeline-img2 {
        top: 63%;
        left: -1%;
    }

}


@media only screen and (max-width: 400px) {
    .timeline-img1 {
        top: 35%;
        left: -1%;
    }

    .timeline-img2 {
        margin-top: -28%;
    }

    .imagecontainer img {
        height: 41vh;
        width: 41vh;
        border-radius: 50%;
    }
    .textcontainer h1{
        line-height: 1.2;
    }
}




@media only screen and (max-width: 960px) {
    .textcontainer {
        width: auto;
        
    }
    .skillsbox{
        height:auto+0px;
    }
}

@media only screen and (max-width: 1000px) {
    .timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(-1% - -40px);
        height: 100%;
        width: 2px;
        background: yellow;
    }

    .timeline-content {
        float:none;
        border-radius: 3px;
        transition: all .3s ease;
        margin-left: 60px;
        margin-top: 40px;
    }

    .timeline-img {
        left: -1%;
        top: 3%;
    }

    .timeline-img1 {
        top: 37%;
        left: -1%;
    }

    .timeline-img2 {
        top: 67%;
        left: -1%;
    }

    .date{
        display: none;
    }

    .date1{
        display: none;
    }

    .date2{
        display: none;
    }
    .ccs{
        display: block;
        font-size: 0.7em;
    }


    .experience-wrapper .timeline .timeline-block:nth-child(odd) .timeline-content {
        float: left;
        margin-left: 18%;
        width: 60%;
        margin-top: 4%;
    }

    .timeline-content {
        float: none;
        margin-left: 18%;
        width: 60%;
        margin-top: 5%;
    }

    .pos{
        margin-top: 90%;
    }
}


/* 400
600 
800
1200
1800
2400 */


