



@media only screen and (max-width: 790px) {
    .timeline-img1 {
        margin-top: -20%;
    }

    .timeline-img2 {
        top: 63%;
        left: -1%;
    }

}






@media only screen and (max-width: 1121px) {
    .knowledgebox {
        display: flex;
        justify-content: center;
    }

    .ecmascript {
        text-align: center;
    }
}








@media only screen and (max-width: 370px) {
    .boxcontainer ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(3px, 1fr));
        margin-left: 0;
        /* grid-column-gap: 6px;
        grid-row-gap: 30px;
        padding: 20px 20px 20px 20px; */
    }
}





@media only screen and (max-width: 731px) {
    input {
        height: 50px;
        width: 434px;
    }

    .circletool {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    
}





@media only screen and (max-width: 525px) {
    input {
        width: 326px;
    }

    .imagecontainer img {
        height: 36vh;
        width: 37vh;
        border-radius: 50%;
    }
}






@media only screen and (max-width: 340px){
    .imagecontainer img {
        height: 21vh;
        width: 24vh;
        border-radius: 50%;
    }
}





@media only screen and (max-width: 415px) {
    .imagecontainer img {
        height: 29vh;
        width: 25vh;
        border-radius: 50%;
    }
}






@media only screen and (max-width: 400px) {
    .timeline-img1 {
        top: 35%;
        left: -1%;
    }

    input {
        width: 253px;
    }

    .timeline-img2 {
        margin-top: -28%;
    }

    .imagecontainer img {
        height: 41vh;
        width: 41vh;
        border-radius: 50%;
    }
    .textcontainer h1{
        line-height: 1.2;
        font-size: 2rem;
    }
    
}





@media only screen and (max-width: 457px) {
    .textcontainer h1{
        line-height: 1.2;
        font-size: 2rem;
    }
}






@media only screen and (max-width: 900px){
    .section .overlay-wrapper, .section .section-wrapper {
        padding: 100px 50px;
    }
}







@media only screen and (max-width: 960px) {
    .textcontainer {
        width: auto;
        
    }
    .skillsbox{
        height:auto+0px;
    }
}





@media only screen and (max-width: 1000px) {
    .timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(-1% - -40px);
        height: 100%;
        width: 2px;
        background: yellow;
    }

    .timeline-content {
        float:none;
        border-radius: 3px;
        transition: all .3s ease;
        margin-left: 60px;
        margin-top: 40px;
    }

    .timeline-img {
        left: -1%;
        top: 3%;
    }

    .timeline-img1 {
        top: 37%;
        left: -1%;
    }

    .timeline-img2 {
        top: 67%;
        left: -1%;
    }

    .date{
        display: none;
    }

    .date1{
        display: none;
    }

    .date2{
        display: none;
    }
    .ccs{
        display: block;
        font-size: 0.7em;
    }


    .experience-wrapper .timeline .timeline-block:nth-child(odd) .timeline-content {
        float: left;
        margin-left: 18%;
        width: 60%;
        margin-top: 4%;
    }

    .timeline-content {
        float: none;
        margin-left: 18%;
        width: 60%;
        margin-top: 5%;
    }

    .pos{
        margin-top: 90%;
    }
}




/* 400
600 
800
1200
1800
2400 */


